services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    env_file:
      - .env
    command: sleep infinity
    volumes:
      - ..:/workspaces/pi-cluster:cached
      - /workspaces
